<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WcfService1.TVRemoteProxy" behaviorConfiguration="WtfServiceBehaviour" >
        <endpoint address="http//localhost:80090/MonitorService"  binding="webHttpBinding" bindingConfiguration="wtfSslBinding" behaviorConfiguration="WebHttpBehaviour" contract="WcfService1.ITVRemoteProxy">
        </endpoint>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name ="wtfSslBinding">

        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WtfServiceBehaviour" >

        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WebHttpBehaviour">
          <webHttp automaticFormatSelectionEnabled="false"
        defaultBodyStyle="Wrapped" defaultOutgoingResponseFormat="Json"
        helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel >
 
</configuration>
  <!--<system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <behaviors>
      <serviceBehaviors >
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="test" >
        <endpoint ></endpoint>
      </service>
    </services>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="rest" helpEnabled="true" crossDomainScriptAccessEnabled="true" 
 defaultOutgoingResponseFormat="Json"></standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
     --><!--No <service> tag is necessary. Default endpoints will be added to the service 
     The service behavior with name="" will be picked up by the service--><!-- 
    --><!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>--><!--
  </system.serviceModel>-->
  <!--<system.serviceModel>
   <services>
      <service name="WcfService1.TVRemoteProxy" behaviorConfiguration="servBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8090/MonitorService"/>
          </baseAddresses>
        </host>
        <endpoint behaviorConfiguration="restBehavior"  binding="webHttpBinding" address="rest"/>
        <endpoint  contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="servBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="restBehavior">
          <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json" defaultBodyStyle="Bare"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>-->
